.App {
  font-family: "League Spartan", sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.display {
  font-family: "League Spartan", sans-serif;
  width: 460px;
  text-align: right;
  border-radius: 10px;
  margin-bottom: 1rem;
  height: 7rem;
}
.display div {
  margin: 0 1rem;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}
.display div:first-of-type {
  font-size: 1.5rem;
}
.display div:last-of-type {
  font-size: 3rem;
}
.button-display {
  border-radius: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(5, 75px);
}
button {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  filter: saturate(2);
  filter: brightness(1.2);
}
button:active {
  transform: translateY(4px);
}
.span-two {
  grid-column: span 2;
}
