.App {
  font-family: "League Spartan", sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.display {
  font-family: "League Spartan", sans-serif;
  width: 360px;
  text-align: right;
  border-radius: 10px;
  margin-bottom: 1rem;
  height: 7rem;
}
.display div {
  margin: 0 1rem;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}
.display div:first-of-type {
  font-size: 1.5rem;
}
.display div:last-of-type {
  font-size: 3rem;
}
.button-display {
  border-radius: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: repeat(5, 50px);
}
@media only screen and (max-width: 600px) {
  .display {
    width: 340px;
  }
  .button-display {
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(5, 70px);
  }
}
.display-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 700;
}
.theme-choice {
  display: flex;
  flex-direction: row;
  margin: 1.5rem 0;
}
.theme-choice div {
  display: flex;
  flex-direction: column-reverse;
}
.theme-choice p:first-of-type {
  font-size: 1rem;
  margin-top: 0;
}
.header {
  align-self: flex-end;
  margin: 0 0.5rem;
}
.theme-choice div p {
  margin: 0;
}

button {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  filter: saturate(2);
  filter: brightness(1.5);
}
button:active {
  transform: translateY(4px);
}
.span-two {
  grid-column: span 2;
}
